[Desktop Entry]
Categories=LliureX-Administration;
Comment[ca_ES]=Permet configurar els continguts webs que podran ser accessibles
Comment=Permet configurar els continguts webs que podran ser accessibles
Comment[ca_ES.UTF-8@valencia]=Permet configurar els continguts webs que podran ser accessibles
Comment[ca_ES@valencia]=Permet configurar els continguts webs que podran ser accessibles
Comment[es]=Permite configurar los contenidos web que podrán ser accesibles
Encoding=UTF-8
Exec=/usr/sbin/lliurex-guard-natfree
GenericName[ca_ES]=lliurex-guard-natfree
GenericName=lliurex-guard-natfree
Icon=lliurex-guard-natfree
MimeType=
Name[ca_ES]=Filtre de continguts web
Name=Filtre de continguts web
Name[ca_ES.UTF-8@valencia]=Filtre de continguts web
Name[ca_ES@valencia]=Filtre de continguts web
Name[es]=Filtro de contenidos web
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/usr/sbin/lliurex-guard-natfree
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
