Source: lliurex-guard
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),dh-python, python3-poinstaller,python3-setuptools,python3-all,zero-dev
Standards-Version: 4.1.2

Package: lliurex-guard
Architecture: all
Depends: n4d,n4d-lliurex-base,python3-jsondiff,xclip
Description: Contains lliurex-guard
 This package contains the : lliurex-guard gui

Package: n4d-lliurex-guard
Architecture: all
Depends: ${misc:Depends},${python3:Depends},n4d,dnsmasq,n4d-network
Description: Lliurx Guard plugin
  Plugins supporting lliurex guard functionality

Package: lliurex-guard-standalone
Architecture: all
Depends: ${misc:Depends},${python3:Depends},n4d-lliurex-guard, lliurex-guard
Description: Metapackage and fix scripts to lliurex-guard on desktop flavour
 This package has dependency with lliurex-guard backend and frontend and
 install scripts to update lliurex-guard whitelist and update dns list of 
 dnsmasq

