Source: lliurex-guard
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),dh-python, python3-poinstaller,python3-setuptools,python3-all,zero-dev
Standards-Version: 4.1.2

Package: lliurex-guard
Architecture: all
Depends: n4d,n4d-lliurex-base,python3-jsondiff
Description: Contains lliurex-guard
 This package contains the : lliurex-guard gui

Package: n4d-lliurex-guard
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},n4d,dnsmasq,n4d-network
Description: Lliurx Guard plugin
  Plugins supporting lliurex guard functionality
