[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Web content filter
Name[es]=Filtro de contenidos web
Name[ca]=Filtre de continguts web
Name[ca_ES]=Filtre de continguts web
Name[ca_ES@valencia]=Filtre de continguts web
Name[ca_ES.UTF-8@valencia]=Filtre de continguts web
Comment=Allows you to configure the websites that may be accessible
Comment[es]=Permite configurar los contenidos web que podrán ser accesibles
Comment[ca]=Permet configurar els continguts webs que podran ser accessibles
Comment[ca_ES]=Permet configurar els continguts webs que podran ser accessibles
Comment[ca_ES@valencia]=Permet configurar els continguts webs que podran ser accessibles
Comment[ca_ES.UTF-8@valencia]=Permet configurar els continguts webs que podran ser accessibles
Exec=/usr/sbin/lliurex-guard
TryExec=/usr/sbin/lliurex-guard
Terminal=false
Icon=lliurex-guard
Type=Application
GenericName=lliurex-guard
NoDisplay=true
Categories=LliureX-Administration;